    * {
    box-sizing: border-box;
    }

    .topnav {
        overflow: hidden;
        background-color: #166484;
        color: white;
    }

    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 500px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
    	background-color: #2582a8;
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
        font-family:verdana;
        color: white;
    }

    td {
    	border: 1px solid #dddddd;
        text-align: left;
        padding: 5px;
        font-family:verdana;
    }

    tr:nth-child(even) {
        background-color: #f6fbfd;
    }

    tr:nth-child(odd) {
        background-color: #87ceeb;
    }

    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        font-family:verdana;
    }

    .btn-link {
    	font-size: 12px;
        margin:auto;
        display:block;
    }